<!DOCTYPE html>
<html>
    <head>
        <title>Code review tools</title>
        <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script-->
        <script src="angular-1.4.5.min.js"></script>

        <style>
            div.main {
                margin: 30px;
                font-size: 24px;
            }

            div.box {
                margin: auto;
                padding: 10px;
                width: 60%;

                /*
                border: 1px solid green;
                */
            }

            div.main {
                background-image: url("conceptos.png");
                background-repeat: no-repeat;
                background-size: 150px;
                min-height: 500px;
            }

            h1,h2,h3,p,ul {
                margin: 5px;
            }

            .centered {
                margin: auto;
                text-align: center;
            }
            .small {
                font-size: 80%;
            }
            .narrow {
                width: 50%;
            }
        </style>
    </head>

    <body ng-app="fisken">

        <div ng-controller="fiskenController" ng-cloak>

        <div class='main'>

            <div      ng-if='inRange( 0)' id='slide0' class="box">
                <span><h2 class="centered narrow">Process, goals, benefits, culture, background</h2></span>
                <span><p class='centered'>By Peter</p></span>
                </br>
                </br>
                <span><h2 class="centered narrow">Tools</h2></span>
                <span><p class='centered'>By me</p></span>
            </div>


            <div      ng-if='inRange( 1,20)' id='slide1' class="box">
                <span                       ><h3 class="centered">Tools</h3></br></span>
                <span ng-if='inRange( 1,-1)'><p>Tools should not dictate how we work</p></span>
                <span ng-if='inRange( 2)'   ><ul><li>Maybe your process is broken?</li></ul></span>
                <span ng-if='inRange( 3,-1)'><p>Really learn your tools!</p></span>
                <span ng-if='inRange( 3, 4)'><ul><li>Editor (IDE), build tool, source control, debugger, test system, ...</li></ul></span>
                <span ng-if='inRange( 4, 4)'><ul><li>Always pays off</li></ul></span>
                <span ng-if='inRange( 4, 4)'><ul><li>Feeling of mastery</li></ul></span>
                <span ng-if='inRange( 5,-1)'><p>What tools do we need</p></span>
                <span ng-if='inRange( 5)'   ><ul><li>Can do code reviews with diff and email</li></ul></span>
                <span ng-if='inRange( 6)'   ><ul><li>Source control</li></ul></span>
                <span ng-if='inRange( 6)'   ><ul><li>Build tool</li></ul></span>
                <span ng-if='inRange( 6)'   ><ul><li>Automatic build system</li></ul></span>
                <span ng-if='inRange( 6)'   ><ul><li>Review tool</li></ul></span>
                <span ng-if='inRange( 7,-1)'><p>Source control</p></span>
                <span ng-if='inRange( 7)'   ><ul><li>Vitally important</li></ul></span>
                <span ng-if='inRange( 8)'   ><ul><li>Rewriting history is a revelation</li></ul></span>
                <span ng-if='inRange( 9)'   ><ul><li>Arch, Mercurial, Git, BitKeeper, (TFSVC?)</li></ul></span>
                <span ng-if='inRange(10)'   ><ul><li>Mercurial vs. Git</li></ul></span>
                <span ng-if='inRange(11)'   ><ul><li>Can work with SVN as well, but not as flexible</li></ul></span>
                <span ng-if='inRange(12,-1)'><p>Build tool and automatic build system</p></span>
                <span ng-if='inRange(12)'   ><ul><li>Need a build tool to be able to have an automated build system</li></ul></span>
                <span ng-if='inRange(12)'   ><ul><li>Integrate the build system into the review tool</li></ul></span>
                <span ng-if='inRange(13,14)'><ul><li>No need to review code that does not pass all tests</li></ul></span>
                <span ng-if='inRange(13,14)'><ul><li>Rewriting history means every commit should pass all tests</li></ul></span>
                <span ng-if='inRange(14,14)'><ul><li>How do you do that with SVN?</li></ul></span>
                <span ng-if='inRange(15,-1)'><p>Review tool</p></span>
                <span ng-if='inRange(16,16)'><ul><li>Usually always web based (Github, Stash, Gerrit, ...)</li></ul></span>
                <span ng-if='inRange(17,19)'><ul><li>Needs to be easy to use for all common tasks</li></ul></span>
                <span ng-if='inRange(18,19)'><ul><li>Create review (automatic?)</li></ul></span>
                <span ng-if='inRange(18,19)'><ul><li>Fast to approve trivial review</li></ul></span>
                <span ng-if='inRange(18,19)'><ul><li>Commenting, bug creation</li></ul></span>
                <span ng-if='inRange(18,19)'><ul><li>Fixing, confirming, closing</li></ul></span>
                <span ng-if='inRange(19)'   ><ul><li>Statistics and other stuff, less important!</li></ul></span>
                <span ng-if='inRange(20,-1)'><p>Try to use your tools to minimize the effort needed of you reviewer</p></span>
                <span ng-if='inRange(20)'   ><ul><li>Have concise commits (that often leads to small commits)</li></ul></span>
                <span ng-if='inRange(20)'   ><ul><li>Do a 'White space only' commit</li></ul></span>
                <span ng-if='inRange(20)'   ><ul><li>Don't move and change code at the same time</li></ul></span>
                <span ng-if='inRange(20)'   ><ul><li>Always refactor in one commit and change code in another</li></ul></span>
            </div>


            <div      ng-if='inRange(21,23)' id='slide2' class="box centered">
                <span ng-if='inRange(21,-1)'><h3>Branch, check-in, review, merge</h3></span>
                <span ng-if='inRange(21,-1)'><p>Code collaborator, Crucible, Upsource</p></br></span>
                <span ng-if='inRange(22,-1)'><h3>Create merge request</h3></span>
                <span ng-if='inRange(22,-1)'><p>Github, Stash</p></br></span>
                <span ng-if='inRange(23,-1)'><h3>Centrally stage before commit</h3></span>
                <span ng-if='inRange(23,-1)'><p class='small'>(take over source repo)</p></span>
                <span ng-if='inRange(23,-1)'><p>Gerrit</p></br></span>
            </div>

            <div      ng-if='inRange(24,26)' id='slide3' class="box">
                <div class='centered'>
                    <span                   ><h3>Branch, check-in, review, merge</h3></span>
                    <span                   ><p>Code collaborator, Crucible, Upsource</p></br></span>
                </div>
                <span ng-if='inRange(24)'   ><p>The SVN (or feature branch) model</p></span>
                <span ng-if='inRange(24)'   ><p>Easy, understandable, quick to get going</p></span>
                <span ng-if='inRange(25,26)'><p>One review per feature (big reviews)</p></span>
                <span ng-if='inRange(25,26)'><p>Work flow: Branch, commit, commit, commit, commit, review, commit, merge</p></span>
                <span ng-if='inRange(26,26)'><p>Alternate work flow: Refactor, review, implement, review</p></span>
            </div>

            <div      ng-if='inRange(27,29)' id='slide4' class="box">
                <div class='centered'>
                    <span                   ><h3>Create merge request</h3></span>
                    <span                   ><p>Github, Stash</p></br></span>
                </div>
                <span                       ><p>The Github model</p></span>
                <span                       ><p>Perfect for open source projects (no need for push rights)</p></span>
                <span ng-if='inRange(28,-1)'><p>Work flow</p></span>
                <span ng-if='inRange(28,-1)'><ul><li>Feature branches</li></ul></span>
                <span ng-if='inRange(28,-1)'><ul><li>One review (pull request) pr branch</li></ul></span>
                <span ng-if='inRange(28,-1)'><ul><li>All new commits (updates) to the same branch goes into the review</li></ul></span>
                <span ng-if='inRange(29,-1)'><p>Very well suited for distributed VCS</p></span>
            </div>


            <div      ng-if='inRange(30,34)' id='slide4' class="box">
                <div class='centered'>
                    <span                   ><h3>Centrally stage before commit</h3></span>
                    <span                   ><p>Gerrit</p></br></span>
                </div>
                <span                       ><p>Hijack the source repo</p></span>
                <span                       ><p>Works well with Git (even if it is a hack)</p></span>
                <span ng-if='inRange(31,-1)'><p>Gerrit work flow</p></span>
                <span ng-if='inRange(31,-1)'><ul><li>Commit locally</li></ul></span>
                <span ng-if='inRange(31,-1)'><ul><li>When ready to create review, do a special push</li></ul></span>
                <span ng-if='inRange(31,-1)'><ul><li>Your changes goes into a staging area</li></ul></span>
                <span ng-if='inRange(31,-1)'><ul><li>Reviews are created automatically, one review pr commit</li></ul></span>
                <span ng-if='inRange(32,-1)'><p>Favours small reviews (small commits)</p></span>
                <span ng-if='inRange(33,-1)'><p>Easy to work with several open reviews at once</p></span>
                <span ng-if='inRange(34,-1)'><p>Does send out a <em>lot</em> of emails</p></span>
            </div>

            <div      ng-if='inRange(35,-1)' id='slide4' class="box">
                <span                       ><h3 class="centered">Closing discussion</h3></br></span>
                <span ng-if='inRange(36,-1)'><p><em>"We don't have time to do code reviews"</em></p></span>
                </br>
                <span ng-if='inRange(36,-1)'><p><b>Reviews is supposed to be a bit of a hassle.</b></p></span>
                <span ng-if='inRange(36,-1)'><ul><li>Slowing down the developement process means you take the time to do things properly</li></ul></span>
                </br>
                <span ng-if='inRange(36,-1)'><p>What do you think would be the biggest gain from doing code review?</p></span>
                <span ng-if='inRange(36,-1)'><p>What is keeping your team from doing code reviews?</p></span>
                <span ng-if='inRange(36,-1)'><p>How do you think team spirit would be affected by doing reviews?</p></span>
                <span ng-if='inRange(36,-1)'><p>How do you think code quality would be affected by doing reviews?</p></span>
            </div>


        </div>

        </div><!-- end root div -->

    </body>


    <script>
    "use strict";

    angular.module("fisken", ['ng']) // dependencies
        .controller("fiskenController", function($scope, $http, $location) {

            $scope.slide = parseInt($location.hash().substring(6)) || 0;
            console.log("slide " + $scope.slide);

            $scope.inRange = function(start, end) {
                //return true;
                if (end === -1) return start <= $scope.slide;
                if (end === undefined) return $scope.slide === start;
                return start <= $scope.slide && $scope.slide <= end;
            }

            function forward() {
                //if ($scope.slide > 0) {

                $scope.slide++;
                $location.hash('slide-' + $scope.slide);
                console.log("forward  " + $scope.slide);
            }

            function backward() {
                if ($scope.slide <= 0) return;

                $scope.slide--;
                $location.hash('slide-' + $scope.slide);
                console.log("backward " + $scope.slide);
            }

            function checkKey(e) {
                e = e || window.event;

                if (e.keyCode == '37') {
                    $scope.$apply(backward());
                } else if (e.keyCode == '39') {
                    $scope.$apply(forward());
                }
            }
            document.onkeydown = checkKey;

        });

    </script>

</html>
